{% extends 'top/main.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{% block body %}
<div class="container">
  <center><h2>Product_Info</h2></center><br><hr>
       
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>sr.no</th>
        <th>product_name</th>
        <th>product_prize</th>
        <th>product_material</th>
        <th>product_brand</th>
        <th>actions</th>
      </tr>
    </thead>
    <tbody>
       {% for i in data %}
        <tr>
           <th>{{forloop.counter}}</td>
           <td>{{i.product_name}}</td>
           <td>{{i.product_prize}}</td>
           <td>{{i.product_material}}</td>
           <td>{{i.product_brand}}</td>
           <td><a href="{% url 'ecom_app:delete' i.id %}" class="btn btn-sm btn-primary">DELETE</a></td>
           <td><a href="{% url 'ecom_app:update' i.id %}" class="btn btn-sm btn-primary">UPDATE</a></td>
           <td><a href="{% url 'ecom_app:details' i.id %}" class="btn btn-sm btn-primary">DETAILS</a></td>
        </tr>
        {% endfor %}
      
    </tbody>
  </table>
</div>
{% endblock %}
</body>
</html>
